@model SchoolManageMentSystem.Models.LeaveModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>LeaveModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" asp-controller="leave" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            <div class="form-group">
                <label asp-for="Ldescription" class="control-label"></label>
                <input asp-for="Ldescription" class="form-control" />
                <span asp-validation-for="Ldescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Schedule" class="control-label"></label>
                <input asp-for="Schedule" class="form-control" />
                <span asp-validation-for="Schedule" class="text-danger"></span>
            </div>
             <div class="form-group">
                <label asp-for="Lstatus" class="control-label"></label>
                <input type="hidden" asp-for="Lstatus" value="Pending" class="form-control" />
                <span asp-validation-for="Lstatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
