
  
<head>
    <title>About us Page</title>
    <style>
    * {
    margin:0;
    padding:0;
    overflow-x: hidden;
}




.background {
    background-color:#eaebec;
    background-image: url("/img/img.jpg");
    
    background-blend-mode: darken;
    background-size: cover;
   
}

.firstsection {
    height: 100vh;
}

.box-main {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    max-width: 50%;
    margin: auto;
    height: 80%;
}

.firstHalf {
    width: 75%;
    display: flex;
    flex-direction: column; 
    justify-content: center
}

.firstHalf img {
    display: flex;
    border-radius: 9050px;
}

.text-big {
    font-family: 'Piazzolla', serif;
    font-weight: bold;
    font-size: 48px;
    text-align: center;
}

.text-small {
    font-family: 'Sansita Swashed', cursive;
    font-size: 24px;
    text-align: center;
}


.center {
    text-align: center;
    font-size:18px;
   
}

.text-footer {
    text-align: center;
    padding: 10px 0;
    font-family: 'Ubuntu', sans-serif;
    display: flex;
    justify-content: center;
}

.column
{
width: 100%;
display: block;
}
}

</style>
    
</head>
<body >
    
 
    <section class="background firstsection">
        <div class="box-main">
            <div class="firstHalf">
                <p class="text-big">About US</p>
                  
                <p class="text-small">
                    Here you will get to know the team
                    members of our School and also to the functions and facilities that our school gives.
                </p>
                <br>
                <p class="center"><a href="#Order" 
                   style="text-decoration:none;color:white;">
                        Below are the facilities we provide in our school.</a>
                </p>
            </div>
        </div>
    </section>
  
    </footer>
</body>
  
