<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />

    <title>Admission Details</title>
    <style type="text/css">
        body {
    background: #e6e6e6;
}
.corners { 
    background: #FFF;
    height: 500px;
    margin: 50px auto;
    max-width: 400px;
    line-height:25px;
    position: relative;
    width: 80%;
    font-family:arial; font-size:14px; font-weight:bold; padding:10px; padding-top:40px;
    -webkit-box-shadow: 0 1px 7px hsla(0,0%,0%,.2);
       -moz-box-shadow: 0 1px 7px hsla(0,0%,0%,.2);
            box-shadow: 0 1px 7px hsla(0,0%,0%,.2);
}

/* Corner Effect */
.corners:after,
.corners:before {
    background: #e6e6e6;
    content: '';
    height: 50px;
    position: absolute;
    top: -25px;
    width: 100px;
    -webkit-box-shadow: 0 5px 10px -7px hsla(0,0%,0%,.5);
       -moz-box-shadow: 0 5px 10px -7px hsla(0,0%,0%,.5);
            box-shadow: 0 5px 10px -7px hsla(0,0%,0%,.5);
}
.corners:after {
    left: -50px;
    -webkit-transform: rotate(-45deg);
       -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
         -o-transform: rotate(-45deg);
            transform: rotate(-45deg);
}
.corners:before {
    right: -50px;
    -webkit-transform: rotate(45deg);
       -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
         -o-transform: rotate(45deg);
            transform: rotate(45deg);
}
    </style>
</head>

<body>
    <div class="corners">
        <h1 style="text-align: center; background-color:white; color: black;">Admission</h1>
        <div style="background-color: lightgreen;">
        <p> Dear all,<br>

Please be informed that due to some problems we arent taking admissions.<br>
</p>
        </div>

        <div style="background-color: lightgreen;">
            <p> Dear all,<br>
               Please be informed that due to some problems we arent taking admissions.<br>
                Thank you
        </div>
        <div style="background-color: lightgreen;">
            <p> Dear all,<br>
                Please be informed that due to some problems we arent taking admissions.<br>
                Thank you
        </div>




</div>
</body>
</html>


    