<!DOCTYPE html>
<html>
    <head>
        <title>GALLERY</title>
        <style type="text/css">
             
 *{
     background-color:azure;
       
       
 }
 .container{
      
        border-radius: 5px;
     align-content:center;
     width: 100%;
     display:flex;
 }
 .img{
    margin: 2rem;    
}
/* Typography */
#subtitle{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande';
    text-transform: uppercase;
}
h2{
    text-align:left;
    font-family: 'Courier New', Courier, monospace;
}
        </style>
    </head>
    <body>
        <h2 style="text-align:center">Gallery</h2>
        <div class="container">
            <div class="img">
                <a href="img/11.jfif" target="_blank">
                    <img src="~/img/11.jfif" alt="Classroom" width="300" height="200">
                </a>
                
            </div>
            <div class="img">
                <a href="img/12.jpg" target="_blank">
                    <img src="~/img/12.jpg" alt="Students" width="300" height="200">
                </a>
              
            </div>
            <div class="img">
                <a href="img/13.jpg">
                    <img src="~/img/13.jpg" alt="Building" width="300" height="200">
                </a>
                
            </div>
        </div>
         <div class="container">
            <div class="img">
                <a href="img/11.jfif" target="_blank">
                    <img src="~/img/11.jfif" alt="Classroom" width="300" height="200">
                </a>
                
            </div>
            <div class="img">
                <a href="img/12.jpg" target="_blank">
                    <img src="~/img/12.jpg" alt="Students" width="300" height="200">
                </a>
              
            </div>
            <div class="img">
                <a href="img/13.jpg">
                    <img src="~/img/13.jpg" alt="Building" width="300" height="200">
                </a>
                
            </div>
        </div>
         
    </body>
</html>