@{
    ViewData["Title"] = "Home Page";
}

<section class="features-icons bg-light text-center" style="height:90vh;background-color:#ccc">
    <div class=" container pt-5">
      <div class="row">
          <div class="col-lg-4 scard">
              
          <div class="features-icons-item ">
            <div class="features-icons-icon d-flex">
               
              <img class="m-auto mt-5" src="https://cdn3.iconfinder.com/data/icons/scenarium-vol-14/128/004-256.png" width="50" height="50" />
               
            </div>
             <a class="navbar-brand text-dark " href="/Home/AboutUs">
            <h3>About School</h3>
            </a>
           
          </div>
        </div>
        <div class="col-lg-4 scard">
          <div class="features-icons-item ">
            <div class="features-icons-icon d-flex">
              <img class="m-auto mt-5" src="https://cdn4.iconfinder.com/data/icons/school-teacher-student/308/school-teacher-pupils-exam-014-256.png" width="50" height="50"/>
            </div>
             <a class="navbar-brand text-dark" href="/Appointment/Create">
            <h3>Teachers/Parents Appointment</h3>
             </a>
          </div>
        </div> 
        
        
        <div class="col-lg-4 scard">
          <div class="features-icons-item ">
            <div class="features-icons-icon d-flex">
              <img class="m-auto mt-5" src="https://cdn4.iconfinder.com/data/icons/48-bubbles/48/18.Pictures-Day-256.png" width="50" height="50"/>
            </div>
             <a class="navbar-brand text-dark" href="/Home/Gallery">
            <h3>Gallery</h3>
            </a>
          </div>
        </div>
         <div class="col-lg-4 scard">
          <div class="features-icons-item ">
            <div class="features-icons-icon d-flex">
              <img class="m-auto mt-5" src="https://cdn4.iconfinder.com/data/icons/evil-icons-user-interface/64/calendar-512.png" width="50" height="50"/>
            </div>
             <a class="navbar-brand text-dark" href="/Home/Events">
            <h3>Events </h3>
            </a>
          </div>
        </div>
         <div class="col-lg-4 scard">
          <div class="features-icons-item ">
            <div class="features-icons-icon d-flex">
              <img class="m-auto mt-5" src="https://cdn4.iconfinder.com/data/icons/education-free/512/education-school-learn-study-12-256.png" width="50" height="50"/>
            </div>
             <a class="navbar-brand text-dark" href="/Home/Transportation">
            <h3>Transportation</h3>
            </a>
          </div>
        </div>
        <div class="col-lg-4 scard">

          <div class="features-icons-item ">
            <div class="features-icons-icon d-flex">
              <img class="m-auto mt-5" src="https://uxwing.com/wp-content/themes/uxwing/download/03-editing-user-action/new-registration.png" width="50" height="50" >
            </div>
             <a class="navbar-brand text-dark" href="/Home/Details">
            <h3>Admission details</h3>
            </a>
          </div>
        </div>
       
         <div class="col-lg-4 ">
          <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
            
            
          </div>
        </div>
         <div class="col-lg-4 scard">
          <div class="features-icons-item ">
            <div class="features-icons-icon d-flex">
              <img class="m-auto mt-5" src="https://cdn1.iconfinder.com/data/icons/app-user-interface-line/64/pin_noticeboard_app_user_interface_push_pin-512.png" width="50" height="50"/>
            </div>
             <a class="navbar-brand text-dark" href="/Home/NoticeBoard">
            <h3>Notice Board</h3>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
