<!DOCTYPE html>
<html>
<head>
    <div class="pt-5" style="height:85vh;background-color:#fff">
    <div class="text-center">
  
</div>
<style>
table {
  border-collapse: collapse;
  width: 100%;
  
}

th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

tr:hover {background-color: coral;}
</style>
</head>
<body>

<h2 class="text-center">Bus Route Table</h2>

<p  class="text-center">Choose the plan Accordingly and ready for the bus Route.</p>
<div class="col-md-10 offset-md-1 pt-4">
<table>
  <tr>
    <th>Bus</th>
    <th>Van</th>
    <th>Route</th>
  </tr>
  <tr>
    <td>B1</td>
    <td>V1</td>
    <td>R-C</td>
  </tr>
  <tr>
    <td>B2</td>
    <td>V7</td>
    <td>R-B</td>
  </tr>
  <tr>
    <td>B8</td>
    <td>V9</td>
    <td>R-K </td
  </tr>
</table>
</div>


</body>


