


<div class="row dash w-100">
    <div class="col-md-2 dashboard">
        <div class="admin_profile">
            <h2>Teacher</h2>
        </div><hr />
        <div class="nav_link">
             <ul class="nav-links">
                 <li>
                     <a href="#"><i class='bx bx-grid-alt' ></i> Dashboard</a>
                 </li>
                    <li>
                     <a href="/Account/StudentView"><i class='bx bx-laptop'></i>Student</a>
                 </li>
                  <li>
                     <a href="/Bills/Index"><i class='bx bxs-user-badge'> </i>Bills</a>
                 </li>
                  <li>
                     <a href="/Appointment/Index"><i class='bx bxs-user-badge'> </i>Appointments</a>
                 </li>
                  <li>
                     <a href="/Leave/Index"><i class='bx bxs-coin-stack'></i> View leave</a>
                 </li>
                 <li>
                     <a href="/Home/Index"><i class='bx bx-exit'></i> Log Out</a>
                 </li>
             </ul>
        </div>
    </div>
     <div class="col-md-10 side">
         <div class="side_head">
             <h2 class="pt-4">Student Management System</h2>
         </div>
        <div class="sides">
             <div class="row mt-4 pt-5">
                 <h5 class="ps-5 ms-1 emsd pb-3">Student management system dashboard</h5>
             <div class="col-md-6">
                 <div class="user d-flex">
                    <i class='bx bxs-coin-stack'></i> <h5> <a href="/Account/StudentView"> Student </a></h5>
                 </div>

             </div>
             <div class="col-md-6">
                 <div class="users d-flex">
                    <i class='bx bx-laptop'></i> <h5> <a href="/Bills/AddBills">Add Bills</a></h5>
                 </div>
                 </div>
                  <div class="col-md-6">
                 <div class="userss d-flex">
                     <i class='bx bx-box' ></i> <h5> <a href="/Leave/Index">View Leaves</a></h5>
                 </div>
             </div>
             <div class="col-md-6">
                 <div class="userss d-flex">
                     <i class='bx bx-box' ></i> <h5> <a href="/Leave/Index">Add Appointment</a></h5>
                 </div>
             </div>
             </div>
            
       


         </div>
        </div>
    </div>
</div>