<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] -StudentManagementSystem</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/HospitalManagementSystem.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg" style="background-color: #00284d">
            <div class="container-fluid  ">
                <a class="navbar-brand text-white" href="#">
                    <img src="https://cdn3.iconfinder.com/data/icons/set-1-1/72/diploma-256.png" width="30" height="30" class="d-inline-block align-top" alt="">
                    SMS
                </a>
                <div class="d-flex justify-content-end">
                    ...
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        @if (User.Identity.IsAuthenticated)
                        {
                            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            </ul>
                        }
                        else
                        {
                            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                                <li class="nav-item">
                                    <a class="nav-link active text-white" aria-current="page" href="/Home/Index" align="Right">Home</a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link active text-white" aria-current="page" href="/Account/Register">Register</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link active text-white" aria-current="page" href="/Account/Login">Login</a>
                                </li>
                            </ul>
                        }
                    </div>
                </div>
        </nav>
        </div>
    </header>
    <div>
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="footer text-muted text-center">
        <div class="container">
            &copy; 2022 - SchoolManagement- Ramesh,Ronish,Prabin- <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    @await RenderSectionAsync("Scripts", required: false)
    <script>


        $(document).ready(function () {
                    var message = "@TempData["ResponseMessage"]";
                    var success = "@TempData["ResponseValue"]";
                    if (message != null && message.length > 0) {
                        if (success == "1") {
                              const Toast = Swal.mixin({
          toast: true,
          position: 'top-end',
          showConfirmButton: false,
          timer: 3000,
          timerProgressBar: true,
          didOpen: (toast) => {
            toast.addEventListener('mouseenter', Swal.stopTimer)
            toast.addEventListener('mouseleave', Swal.resumeTimer)
          }
        })

        Toast.fire({
          icon: 'success',
          title: message
        })
                        } else if (success == "0") {
                              const Toast = Swal.mixin({
          toast: true,
          position: 'top-end',
          showConfirmButton: false,
          timer: 3000,
          timerProgressBar: true,
          didOpen: (toast) => {
            toast.addEventListener('mouseenter', Swal.stopTimer)
            toast.addEventListener('mouseleave', Swal.resumeTimer)
          }
        })

        Toast.fire({
          icon: 'error',
          title: message
        })
                        }
                    }
                })
                 $('.delete').on('click', function (e) {
                    e.preventDefault();
                    var message = $(this).attr("data-message");
                    var link = $(this).attr('href');
                     Swal.fire({
                         icon:"question",
                        title: 'Are you sure?',
                        text: message,
                        type: 'warning',
                        showCancelButton: true,
                        confirmButtonColor: '#3085D6',
                        cancelButtonColor: '#d33',
                        confirmButtonText: 'OK'
                    })@Html.Raw(".then((result) => {if (result.value) {window.location.href = link; } });")
                });
    </script>
</body>
</html>
