@model IEnumerable<SchoolManageMentSystem.Models.DepartmentModel>

@{
    ViewData["Title"] = "Index";
}
<style>
table {
  border-collapse: collapse;
  width: 100%;
  
}

th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

tr:hover {background-color: coral;}
</style>

<h1 class="text-center p-4 pt-5">List of Department</h1>


<div class="col-md-10 offset-md-1 pt-4 pb-5" style="min-height:67vh">
    <table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DName)
            </td>
            <td>
               <a href="/Department/Edit?Id=@item.Id" class="btn btn-primary">Edit</a>
           
                <a href="/Department/Delete?Id=@item.Id"class="btn btn-danger">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</div>
